<!DOCTYPE html>
<html>
  <head>
    <title>หน้าแรก</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../navbar") %>
    <h1> หน้าแรก <%= result[0].Employee_name %> </h1>
   
  
  </body>
</html>
