<!DOCTYPE html>
<html>
  <head>
    <title><%= resultEM[0].Employee_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <%- include("./emnavbar") %>
    <h1><%= resultEM[0].Employee_id %></h1>
    <p>Welcome to <%= resultEM[0].Employee_name %></p>
    <a href="/">link</a>
  </body>
</html>
