<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>

<head>
  <title>
    เพิ่มอุปกรณ์
  </title>
</head>

<body>

  <%- include("../navbar") %>
    <% if(locals.errors){ %>
      <ul class="alert alert-danger">
        <% Object.values(errors).forEach(function(error){%>
          <li>
            <%= error.msg %>
          </li>
          <%})%>
      </ul>
      <%}%>

        <br>
        <form class="row g-3" action="/employees/re_equipment" method="post" enctype="multipart/form-data">
          <div class="container contact">
            <h1>เพิ่มอุปกรณ์</h1>
            <br>
            <div class="row">
              <div class="col-md-3">
                <div class="contact-info">
                  <h4>กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนกดยืนยัน</h4>
                </div>
              </div>
              <div class="col-md-9">
                <div class="contact-form">
                  <div class="form-group col-md-6">
                    <label for="inputEmPhoto" class="form-label">รูปภาพ อุปกรณ์ :</label>
                    <input placeholder="รูปภาพ" aria-label="email" aria-describedby="email" type="file"
                      class="form-control" Name='EqPhoto' id="EqPhoto">

                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="inputEquipment_name">ยี่ห้อ :</label>
                    <div class="col-sm-10">
                      <input type="Name" class="form-control" name="inputEquipment_name" id="inputEmName">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-7" for="Device_details">รายละเอียดอุปกรณ์ :</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="Device_details" id="Device_details">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Equipmentnum">จำนวน :</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="Equipmentnum" id="Equipmentnum"
                        placeholder="Number">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="Price">ราคา :</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="Price" id="Price" placeholder="1234 Main St">
                    </div>
                  </div>
                  <input type="hidden" name="Employee_id" id="Employee_id " value="<%= result[0].Employee_id %>">
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary  ">ยืนยัน</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <br><br>
        <%- include("../footer") %>
</body>

</html>