<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
</head>
<script>
  $(function () {
    $("#datepicker").datepicker({
      language: 'th-th',
      format: 'dd/mm/yyyy',
      autoclose: true
    });
  });
</script>

<body>
  <%- include("../navbar") %>
<a>sadfsfsdfas</a>
  <% if(locals.errors){ %>
    <ul class="alert alert-danger">
        <% Object.values(errors).forEach(function(error){%>
            <li>
                <%= error.msg %>
            </li>
            <%})%>
    </ul>
    <%}%>
    <form class="row g-3"action ="/employees/register"method="post">
      <div class="col-md-6">
        <label for="inputEmName" class="form-label">Name</label>
        <input type="Name" class="form-control"name="inputEmName" id="inputEmName">
      </div>
      
      <div class="col-md-6">
        <label for="inputEmPassword" class="form-label">Password</label>
        <input type="password" class="form-control"name="inputEmPassword" id="inputEmPassword">
      </div>
      <div class="col-md-6">
        <label for="inputEmPhone" class="form-label">Phone</label>
        <input type="text" class="form-control"name="inputEmPhone" id="inputEmPhone" placeholder="Number">
      </div>
      <div class="col-12">
        <label for="inputEmAddress" class="form-label">Address</label>
        <input type="text" class="form-control" name="inputEmAddress"id="inputEmAddress" placeholder="1234 Main St">
      </div>
      <!-- <div class="col-md-6">
        <div class="col-sm-2" align="right"> เดือน/วัน/ปี </div>
        <div class="col-sm-2" align="left">
          <input name="date " type="date" required class="form-control" id="date" />
        </div>
      </div> -->
      <div class="col-1">
        <label class="form-label">เพศ </label>
        <select name="inputEmlgbt" type="text" class="form-control" placeholder="เพศ">
          <option value="">--</option>
          <option value="ชาย">ชาย</option>
          <option value="หญิง">หญิง</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control"name="inputEmail" id="inputEmail">
      </div>
      <div class="col-md-6">
        <label for="inputEmPhoto" class="form-label">รูปภาพ</label>
        <input type="text" class="form-control" name="inputEmPhoto"id="inputEmPhoto" placeholder="รูปภาพ//ต้องเป็นไฟล์">
      </div> 
      <div class="col-md-6">
        <label for="inputEmstatus" class="form-label">status</label>
        <input type="text" class="form-control"name="inputEmstatus" id="inputEmstatus" placeholder="สภานะ">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
</body>

</html>