<link rel='stylesheet' href='/stylesheets/footer.css' />
<footer class="posision">
    <div class="container  py-5">
        <div class="row py-3">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><iframe src="//www.facebook.com/plugins/likebox.php?href=https://m.facebook.com/profile.php?id=100063524502213&amp;width=350&amp;height=300&amp;colorscheme=dark&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" style="border:none; overflow:hidden; width:500px; height:auto;"
                    allowtransparency="true"></iframe>


            </div>
            <div class="col-lg-5 col-md-6 mb-lg-0">
                <h4 class="text-uppercase font-weight-bold mb-2">เอ.ที.แอร์มหาสารคาม</h4>
                <p class="text-muted mb-4">ร้อนนี้เลือกซื้อแอร์แบบไหนดี ? ที่มีไว้ติดบ้าน แอร์บ้าน Inverter ตีไซน์สวยงามทีมาพร้อมกับการประหยัดพลังงาน และราคาไม่แพงคุณภาพสูงด้วย</p>
            </div>
            <div class="col-lg-3 col-md-13 mb-13 mb-lg-0">
                <h4 class="text-uppercase font-weight-bold mb-2">ติดต่อสอบถาม</h4>
                <p class="text-muted ">มหาสารคาม <br>
                    <h5 class="text-muted "> ติดต่อ : 094-1764047 , <br> 083-2796566 </h5>

                    <h5 class="text-muted "> Line : 094-1764047
                        <br> <br> ยินดีให้บริการ</h5>
                </p>
            </div>
        </div>
    </div>
</footer>