<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">
<!DOCTYPE html>

<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <%- include("./navbar") %>
  <br><br>
    <h1 class="text-center">
      
     <!-- <%= title  %> -->เอ.ที.แอร์
      มหาสารคาม
    </h1>
    <br>
    <p class="text-center">Welcome to หน้าแรกระบบ ซ่อม <%= title %></p>
    <!-- <a href="/users">link</a> -->
    <!-- <a href="/users/register">registers</a> -->
    


<h1 class="text-center">เรื่องแอร์...ไว้ใจเรา ทำงานตามมาตรฐาน สินค้าได้คุณภาพ ดูแลหลังการขาย100%</h1>
<br><br>
</html>
<div class="container">
  <div class="row">

    <!--team-1-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front">
          <img src="/image/101.png" class="img-fluid" />
          <h3>จำหน่าย</h3>
          <p>เครื่องปรับอากาศ</p>
        </div>

        <div class="team-back">
          <span><h3>
            เอ.ที.แอร์ มหาสารคาม
บริหารงานโดย
ชัยวิชิต ทวิบุตร (ช่างต่าย)
จำหน่าย-ติดตั้ง-ซ่อม-ล้าง-ย้าย
แอร์บ้าน หอพัก อาคาร สำนักงาน</h3>
          </span>
        </div>

      </div>
    </div>
    <!--team-1-->

    <!--team-2-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front">
          <img src="/image/103.png" class="img-fluid" />
          <h3>เครื่องปรับอากาศ</h3>
          <p>ราคาคุ้มค่า</p>
        </div>

        <div class="team-back">
          <span><h3>
            จำหน่ายเครื่องปรับอากาศยี่ห้อชั้นนำ ราคาถูก ทั้งปลีก-ส่ง
รับติดตั้งเครื่องปรับอากาศสำหรับบ้าน สำนักงาน หอพัก
งานโครงการ ด้วยช่างชำนาญงาน มีคุณภาพ
รับซ่อมแอร์ -ย้ายแอร์ - ถอดแอร์-ล้างแอร์</h3>
          </span>
        </div>

      </div>
    </div>
    <!--team-2-->

    <!--team-3-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front">
          <img src="/image/104.png" class="img-fluid" />
          <h3>ติดตั้งเครื่องปรับอากาศ</h3>
          <p>ด้วยราคาประหยัด</p>
        </div>

        <div class="team-back">
          <span><h3> 
            บริการงานแอร์บ้าน, อาคาร, หอพัก, สำนักงาน ครบวงจร
จำหน่าย ติดตั้ง ล้าง เปลี่ยนอะไหล่โดยช่างมืออาชีพ
ในราคากันเอง ไม่มีชาร์จเพิ่ม ไม่มีค่าใช้จ่ายจุกจิกตามหลัง
บริการด้วยความชื่อสัตย์ ดูแลแคร์คุณ เหมือนแอร์ของเรา</h3>
          </span>
        </div>

      </div>
    </div>
    <!--team-3-->

    <!--team-4-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front">
          <img src="/image/105.png" class="img-fluid" />
          <h3>ติดตั้งระบบเครื่องปรับ</h3>
          <p>อากาศภายในอาคาร</p>
        </div>

        <div class="team-back">
          <span><h3>
            จำหน่ายเครื่องปรับอากาศยี่ห้อชั้นนำ
บริการติดตั้ง ล้างทำความสะอาด
ซ่อมบำรุงเครื่องปรับอากาศ
โดยช่างมืออาชีพ</h3>
          </span>
        </div>

      </div>
    </div>
    <!--team-4-->

    <!--team-5-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front">
          <img src="/image/106.png" class="img-fluid" />
          <h3>ซ่อมเครื่องปรับอากาศ</h3>
          <p>ให้กลับมาเย็นสบาย </p>
        </div>

        <div class="team-back">
          <span>
            <h3>
              จำหน่ายเครื่องปรับอากาศยี่ห้อชั้นนำ ราคาถูก ทั้งปลีก-ส่ง
  รับติดตั้งเครื่องปรับอากาศสำหรับบ้าน สำนักงาน หอพัก
  งานโครงการ ด้วยช่างชำนาญงาน มีคุณภาพ
  รับซ่อมแอร์ -ย้ายแอร์ - ถอดแอร์-ล้างแอร์</h3>
          </span>
        </div>

      </div>
    </div>
    <!--team-5-->

    <!--team-6-->
    <div class="col-lg-4">
      <div class="our-team-main">

        <div class="team-front " >
          <img src="/image/107.png " class="img-fluid" />
          <h3>ติดต่อ</h3>
          <p>สอบถาม</p>
        </div>

        <div class="team-back">
          <span><h3>เอ.ที.แอร์
            มหาสารคาม
            -โทร.094-1764047
-โทร.083-2796566  Line:0941764047 ยินดีให้บริการ</h3>
          </span>
        </div>

      </div>
    </div>
    <!--team-6-->



  </div>
</div>

</body>

<style>
  body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 30px;
}
h3 {
  font-family: 'Bai Jamjuree',
  sans-serif;
}
  .our-team-main {
    width: 100%;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
  }


  .our-team-main img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 90px;
  }

  .our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .our-team-main p {
    margin-bottom: 0;
  }

  .team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;

  }

  .team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
  }

  .our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
  }

  .our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
  }

  /*our-team-main*/
</style>