<!DOCTYPE html>
<link rel='stylesheet' href='/stylesheets/login.css' />
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LOGIN</title>
</head>

<body class="body">
    <%- include("./navbar") %>

        <% if(locals.errors){ %>
            <ul class="alert alert-danger">

                <% Object.values(errors).forEach(function(error){%>
                    <li>
                        <%= error.msg %>
                    </li>
                    <%})%>
            </ul>
            <%}%>
                <% if(locals.mailers){ %>
                    <ul class="alert alert-danger">
                        <li>
                            <%= mailers %>
                        </li>
                    </ul>
                    <%}%>
                        <div class="wrapper fadeInDown">

                            <div id="formContent">
                                <!-- Tabs Titles -->

                                <!-- Icon --><br><br>
                                <div class="fadeIn first">
                                    <img src="/image/0011.png" id="icon" alt="User Icon" />
                                </div>
                                <br>
                                <!-- Login Form -->
                                <form action="/login" method="post">
                                    <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail">
                                    <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                                    <input type="submit" class="fadeIn fourth" value="Log In">
                                </form>

                                <!-- Remind Passowrd -->

                            </div>
                        </div>

                        <%- include("./footer") %>

</body>

</html>