<link rel='stylesheet' href='/stylesheets/login.css' />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">
<%- include("./navbar") %>
    <% if(locals.errors){ %>
        <ul class="alert alert-danger">

            <% Object.values(errors).forEach(function(error){%>
                <li>
                    <%= error.msg %>
                </li>
                <%})%>
        </ul>
        <%}%>
            <% if(locals.mailers){ %>
                <ul class="alert alert-danger">
                    <li>
                        <%= mailers %>
                    </li>
                </ul>
                <%}%>
                    <div class="wrapper fadeInDown">

                        <div id="formContent">
                            <!-- Tabs Titles -->

                            <!-- Icon --><br><br>
                            <div class="fadeIn first">
                                <img src="/image/0011.png" id="icon" alt="User Icon" />
                            </div>
                            <br>
                            <!-- Login Form -->
                            <form action="/login" method="post">
                                <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail">
                                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                                <input type="submit" class="fadeIn fourth" value="Log In">
                            </form>

                            <!-- Remind Passowrd -->

                        </div>
                    </div>
                    <footer>
                        <%- include("./footer") %>
                    </footer>