#button-addon1 {
    color: #ffc371;
}

i {
    color: #ffc371;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

footer {
    color: rgb(255, 255, 255);
    bottom: 0;
    margin: auto;
    background-color: #273450;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
}

.position {
    position: relative;
}


/* p{font-size: larger} */