body {
    background: #f8f8f8;
    background: -webkit-linear-gradient(to right, #d4d3d1);
    min-height: 100vh;
    font-size: 150%;
    
  }
  
  #button-addon1 {
    color: #ffc371;
  }
  
  i {
    color: #ffc371;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }
 /* p{font-size: larger} */