body {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}

.our-team-main {
    width: 100%;
    height: 300px;
    border: 1px solid #797979;
    border-bottom: 5px #797979 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}

.our-team-main img {
    border-radius: 25px;
    margin-bottom: 25px;
    border: 1px solid #bbbbbb;
    width: auto;
}

.our-team-main h3 {
    font-size: auto;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;
}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}