<!DOCTYPE html>
<html>
  <head>
    <title>pages</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../navbar") %>
    <h1>pages</h1>
  </body>
</html>
