<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html>
  <head>
    <title><%= result[0].User_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../navbar") %>
    <h1><%= result[0].User_email %></h1>
    <a  type="button" class="btn btn-danger" href="/logout">Logout</a>
  </body>
</html>
